Repository MiguelsPizza/MCP-B: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm exec biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, pnpm exec biome check --write --no-errors-on-unmatched

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs,cjs}": [
    "pnpm exec biome check --write --no-errors-on-unmatched --files-ignore-unknown=true"
  ],
  "*.{json,md,yml,yaml}": [
    "pnpm exec biome check --write --no-errors-on-unmatched --files-ignore-unknown=true"
  ],
  "package.json": ["pnpm exec biome check --write --no-errors-on-unmatched"]
}

chore: fixed pnpm version in actions
  .github/workflows/ci.yml
  .github/workflows/dependency-audit.yml
Due: pnpm exec biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix: added more stuff to git ignore. fixed syntax bug
  .gitignore
  web/src/hooks/useAssistantMCP.tsx
Due: pnpm exec biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: standardizing repo configs
  e2e-tests/package.json
  package.json
  packages/extension-tools/package.json
  packages/mcp-react-hook-form/package.json
  packages/mcp-react-hook-form/tsconfig.tsbuildinfo
  packages/mcp-react-hooks/package.json
  packages/transports/package.json
  packages/web-tools/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  web/package.json
  web/src/hooks/useAssistantMCP.tsx
Due: pnpm exec biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, pnpm exec biome check --write --no-errors-on-unmatched

chore: typefixes
  e2e-tests/package.json
  pnpm-lock.yaml
Due: pnpm exec biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, pnpm exec biome check --write --no-errors-on-unmatched

chore: format
  web/src/hooks/useAssistantMCP.tsx
Due: pnpm exec biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: fixing ci
  .github/workflows/ci.yml
Due: pnpm exec biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: more fixing ci
  .github/workflows/ci.yml
Due: pnpm exec biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: fixing ci
  web/src/hooks/useTodoSortParamsRouter.ts
Due: pnpm exec biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: cleaning up publishing
  .github/workflows/publish-packages.yml
  .npmrc
  README.md
  docs/GITHUB_PACKAGES_SETUP.md
  package.json
  packages/extension-tools/README.md
  packages/extension-tools/package.json
  packages/mcp-react-hook-form/package.json
  packages/mcp-react-hooks/package.json
  packages/transports/package.json
  packages/web-tools/README.md
  packages/web-tools/package.json
  web/src/components/BlogPost.tsx
  web/src/components/Documentation.tsx
  web/src/components/app-sidebar-mobile.tsx
  web/src/components/app-sidebar.tsx
  web/src/routes/index.tsx
Due: pnpm exec biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, pnpm exec biome check --write --no-errors-on-unmatched

chore: automating npm publication
  .changeset/README.md
  .changeset/config.json
  .github/workflows/publish-npm-simple.yml
  .github/workflows/publish-npm.yml
  .github/workflows/publish-packages.yml
  .npmrc
  docs/GITHUB_PACKAGES_SETUP.md
  docs/NPM_PUBLISHING.md
  package.json
  packages/extension-tools/package.json
  packages/mcp-react-hook-form/package.json
  packages/mcp-react-hooks/package.json
  packages/transports/package.json
  packages/web-tools/package.json
Due: pnpm exec biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, pnpm exec biome check --write --no-errors-on-unmatched

feat(monorepo): this is the new version of the app
  .changeset/config.json
  FullArch.png
  README.md
  packages/extension-tools/package.json
  packages/mcp-react-hook-form/tsconfig.tsbuildinfo
  packages/mcp-react-hooks/src/McpServerContext.tsx
  packages/transports/package.json
  packages/transports/src/BrowserWebSocketClientTransport.ts
  packages/transports/src/TabClientTransport.ts
  packages/transports/src/TabServerTransport.ts
  packages/transports/src/WebsocketClientTransport.ts
  packages/transports/src/WebsocketServerTransport.ts
  packages/transports/src/index.ts
  pnpm-lock.yaml
  tsconfig.base.json
  web/src/TabServer.ts
  web/src/components/McpServer.tsx
  web/src/hooks/McpToolsProvider.tsx
  web/src/main.tsx
  web/src/routes/__root.tsx
  web/src/routes/assistant.tsx
  web/src/services/MCP.ts
  web/worker/cors-config.example.ts
  web/worker/routes/chat.ts
Due: pnpm exec biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, pnpm exec biome check --write --no-errors-on-unmatched

chore: bump package jsons
  packages/extension-tools/package.json
  packages/mcp-react-hooks/package.json
  packages/transports/package.json
  packages/web-tools/package.json
Due: pnpm exec biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, pnpm exec biome check --write --no-errors-on-unmatched

chore(web): clean up website and deploy
  pnpm-lock.yaml
  web/src/components/BlogPost.tsx
  web/src/components/Documentation.tsx
  web/src/components/McpServer.tsx
  web/src/components/Todos.tsx
  web/src/components/app-sidebar-mobile.tsx
  web/src/components/assistant-ui/McpToolUIRenderer.tsx
  web/src/components/assistant-ui/ToolUIs.tsx
  web/src/components/assistant-ui/thread.tsx
  web/src/components/diagrams/WebMCPArchitectureDiagram.tsx
  web/src/components/diagrams/utils.ts
  web/src/hooks/useAssistantMCP.tsx
  web/src/routes/assistant.tsx
  web/src/routes/index.tsx
  web/src/services/MCP.ts
Due: pnpm exec biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: move extension to private submodule
  .nvmrc
Due: none

fix: re-add extension as submodule after history cleanup
  .gitmodules
Due: none

Update README.md
  README.md
Due: pnpm exec biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(web,extension): simplified and improoved mcphub logic
  DevopsImplementation.md
  MCP-B Protocol.md
  extension/README.md
  extension/entrypoints/background/index.ts
  extension/entrypoints/background/src/services/DomainToolManager.ts
  extension/entrypoints/background/src/services/MCPPortManager.ts
  extension/entrypoints/background/src/services/TabManager.ts
  extension/entrypoints/background/src/services/ToolDescriptionBuilder.ts
  extension/entrypoints/background/src/services/mcpHub.ts
  extension/entrypoints/sidepanel/hooks/useAssistantMCP.tsx
  extension/entrypoints/sidepanel/lib/config.ts
  extension/entrypoints/sidepanel/routes/chat.index.tsx
  extension/env.example
  extension/package.json
  extension/wxt.config.ts
  packages/mcp-react-hook-form/tsconfig.tsbuildinfo
  packages/transports/src/TabServerTransport.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  web/package.json
  web/src/components/BlogPost.tsx
  web/src/routes/assistant.tsx
  web/worker-configuration.d.ts
  web/worker/db/schema.ts
  web/worker/routes/chat.ts
  web/worker/routes/todos.ts
  web/worker/routes/user-todos.ts
  web/worker/routes/users.ts
  web/worker/zValidator.ts
Due: pnpm exec biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, pnpm exec biome check --write --no-errors-on-unmatched

chore(monorepo): more readme updates
  README.md
Due: pnpm exec biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(monorepo): general improovements to repo and extension protocol
  extension/entrypoints/background/index.ts
  extension/entrypoints/background/src/services/_deprecated_NativeHost.ts
  extension/entrypoints/background/src/services/mcpHub.ts
  extension/entrypoints/content/index.ts
  extension/entrypoints/sidepanel/components/McpServer/ToolCard.tsx
  extension/entrypoints/sidepanel/components/McpServer/index.tsx
  extension/entrypoints/sidepanel/components/McpServer/types.ts
  extension/entrypoints/sidepanel/components/McpServer/utils.test.tsx
  extension/entrypoints/sidepanel/components/McpServer/utils.tsx
  extension/entrypoints/sidepanel/components/assistant-ui/McpToolUIRenderer.tsx
  extension/entrypoints/sidepanel/components/assistant-ui/ToolUIs.tsx
  packages/transports/src/TabClientTransport.ts
  packages/transports/src/TabServerTransport.ts
  packages/web-tools/package.json
  packages/web-tools/src/window-apis/PromptApiTools.ts
  pnpm-lock.yaml
Due: pnpm exec biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, pnpm exec biome check --write --no-errors-on-unmatched

chore(extension): bumped version of extension
  extension/package.json
Due: pnpm exec biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, pnpm exec biome check --write --no-errors-on-unmatched

Added Nuxt 3 demo to README
  README.md
Due: pnpm exec biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(monorepo): released v1 of the transports
  packages/transports/package.json
Due: pnpm exec biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, pnpm exec biome check --write --no-errors-on-unmatched

chore(monorepo): more readme updates
  README.md
  web/.env.example
  web/.env.production
  web/exmaple.dev.vars
Due: pnpm exec biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(monorepo): ci fixes
  .github/workflows/ci.yml
  .github/workflows/dependency-audit.yml
  .github/workflows/publish-npm-simple.yml
  .github/workflows/publish-npm.yml
  CONTRIBUTING.md
Due: pnpm exec biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(web): made todos persistence local only
  CLAUDE.md
  web/src/components/Todos.tsx
  web/src/hooks/McpToolsProvider.tsx
  web/src/hooks/useTodoMutations.ts
  web/src/mutations/todoMutations.ts
  web/src/routeTree.gen.ts
  web/src/services/MCP.ts
  web/src/services/collections.ts
  web/src/services/todoService.ts
Due: pnpm exec biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(web): cleared out backend
  .npmrc
  pnpm-lock.yaml
  web/drizzle.config.ts
  web/package.json
  web/src/routeTree.gen.ts
  web/worker-configuration.d.ts
  web/worker/db/migrations/0000_steady_skreet.sql
  web/worker/db/migrations/meta/0000_snapshot.json
  web/worker/db/migrations/meta/_journal.json
  web/worker/db/schema.ts
  web/worker/index.ts
  web/worker/lib/database.ts
  web/worker/lib/error-handler.ts
  web/worker/routes/chat.ts
  web/worker/routes/electric.ts
  web/worker/routes/todos.ts
  web/worker/routes/user-todos.ts
  web/worker/routes/users.ts
  web/wrangler.jsonc
Due: pnpm exec biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, pnpm exec biome check --write --no-errors-on-unmatched

feat(local-server): improoved dx to autoload native host on dev command
  .gitignore
  CLAUDE.md
  README.md
  extension/web-ext.config.ts
  native-server/.env.example
  native-server/README.md
  native-server/package.json
  native-server/src/scripts/constant.ts
  native-server/src/scripts/register-dev.ts
  native-server/src/scripts/utils.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pnpm exec biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, pnpm exec biome check --write --no-errors-on-unmatched

chore(web): remove website tools for now
  web/package.json
  web/src/services/MCP.ts
Due: pnpm exec biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, pnpm exec biome check --write --no-errors-on-unmatched

chore(deps): update @mcp-b/transports to ^1.0.0
  examples/vanilla-ts/package.json
  examples/vanilla-ts/pnpm-lock.yaml
Due: pnpm exec biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, pnpm exec biome check --write --no-errors-on-unmatched

fix(monorepo): update root lockfile
  pnpm-lock.yaml
Due: pnpm exec biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(extension): allow configuration of chrome binaries via env file
  extension/README.md
  extension/env.example
  extension/web-ext.config.ts
Due: pnpm exec biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(monorepo): added a global script path for a zero config mcp-b option
  .github/workflows/dependency-audit.yml
  .github/workflows/publish-npm-simple.yml
  CLAUDE.md
  README.md
  examples/script-tag/.npmrc
  examples/script-tag/README.md
  examples/script-tag/package.json
  examples/script-tag/pnpm-lock.yaml
  examples/script-tag/src/index.html
  examples/script-tag/src/main.ts
  examples/script-tag/tsconfig.json
  examples/script-tag/vite.config.ts
  examples/vanilla-ts/.npmrc
  examples/vanilla-ts/README-FOR-DEVELOPERS.md
  examples/vanilla-ts/package.json
  native-server/src/scripts/constant.ts
  package.json
  packages/global/README.md
  packages/global/package.json
  packages/global/src/global.ts
  packages/global/src/index.ts
  packages/global/src/types.ts
  packages/global/tsconfig.json
  packages/global/tsup.config.ts
  packages/transports/src/index.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/publish-packages.sh
Due: pnpm exec biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, pnpm exec biome check --write --no-errors-on-unmatched

chore(monorepo): formatting
  examples/script-tag/src/main.ts
  packages/global/src/global.ts
  packages/global/src/index.ts
  packages/global/src/types.ts
  packages/global/tsup.config.ts
Due: pnpm exec biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(global): readme updates for global package
  .commitlintrc.json
  packages/global/README.md
  packages/global/package.json
Due: pnpm exec biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, pnpm exec biome check --write --no-errors-on-unmatched

feat(monorepo): setup login example
  examples/login/.gitignore
  examples/login/.npmrc
  examples/login/README.md
  examples/login/index.html
  examples/login/package.json
  examples/login/pnpm-lock.yaml
  examples/login/public/vite.svg
  examples/login/src/auth.ts
  examples/login/src/main.ts
  examples/login/src/style.css
  examples/login/src/typescript.svg
  examples/login/src/vite-env.d.ts
  examples/login/tsconfig.json
Due: pnpm exec biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, pnpm exec biome check --write --no-errors-on-unmatched
